biopython==1.68
cycler==0.10.0
Cython==0.24.1
decorator==4.0.10
docutils==0.12
flufl.lock==2.4.1
ipython==5.1.0
ipython-genutils==0.1.0
line-profiler==2.0
lockfile==0.12.2
-e git+https://github.com/dnlbunting/luigi.git@8531b6490b31f9a19317f7a06de10825d61846fd#egg=luigi
matplotlib==1.5.3
memory-profiler==0.41
numpy==1.11.2
pandas==0.19.0
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.7
psutil==4.4.2
ptyprocess==0.5.1
Pygments==2.1.3
PyMySQL==0.7.9
pyparsing==2.1.10
pysam==0.9.1.4
python-daemon==2.1.2
python-dateutil==2.5.3
pytz==2016.7
simplegeneric==0.8.1
six==1.10.0
SQLAlchemy==1.1.4
tornado==4.4.2
traitlets==4.3.1
wcwidth==0.1.7
